<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CotiLink{% endblock %}</title>
    
    <link href="home/style.css" rel="stylesheet">
    
</head>
<body>

    <!-- Main Content -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="container text-center">
            <span class="text-muted">© 2025 CotiLink APP. Todos los derechos reservados.</span>
        </div>
    </footer>

</body>
</html> 