{% load static %}
{% load filters %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nueva cotización</title>
  <link rel="stylesheet" href="{% static 'quotes/style_form.css' %}?v=123458">
</head>
<body>
  

{% block content %}


<main>

  <div class="form-create">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div>
        {{ form.nombre }}
        {{ form.nombre.errors }}
      </div>
      <div>
        {{ form.description }}
        {{ form.description.errors }}
      </div>
      <div>
        {{ form.cliente_empresa}}
        {{ form.cliente_empresa.errors }}
      </div>
      <div>
        {{ form.contacto }}
        {{ form.contacto.errors }}
      </div>
      <div>
        {{ form.email_contacto }}
        {{ form.email_contacto.errors }}
      </div>
      <div>
        {{ form.precio}}
        {{ form.precio.errors }}
      </div>
      <div class="estado">

        {{ form.estado}}
      </div>
      <div class="file-upload-wrapper">
        {{ form.pdf.as_widget }}
        {{ form.pdf.errors }}
        
        <!-- Custom button -->
        <button type="button" id="custom-upload-btn">
          {%if form.instance.pdf%}
          Cambiar archivo PDF
          {%else%}
          Seleccionar archivo PDF
          {%endif%}
        </button>
        
        <!-- File name display -->
        <span id="file-name">
            {% if form.instance.pdf %}
              {{ form.instance.pdf.name|basename }}
            {%else%}

              Ningún archivo seleccionado
            {%endif%}

        </span>
      </div>

      <!-- Here there is an html like this: <input id = "id_contacto"... -->

      <script>
        
        // Script para hacer funcionar los botones personalizados
        const fileInput = document.getElementById("id_pdf");
        const uploadBtn = document.getElementById("custom-upload-btn");
        const fileNameDisplay = document.getElementById("file-name");

        uploadBtn.addEventListener("click", () => {
          fileInput.click(); // triggers hidden file input
        });

        fileInput.addEventListener("change", () => {
          const fileName = fileInput.files.length > 0 ? fileInput.files[0].name : "Ningún archivo seleccionado";
          fileNameDisplay.textContent = fileName;
        });
      </script>
      <div class="actions-buttons">
            <button type="submit" name="action" value="save">Guardar</button>
            <button type="submit" name="action" value="send" id="send_email">Enviar correo</button>
            <a href="{% url 'quotes:quotes_all' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>


  </div>


</main>

{% endblock %}



</body>
</html>


